<p-toolbar class="mb-4">
  <ng-template pTemplate="left">
    <h1 class="text-2xl font-bold m-0">
      <a routerLink="/" class="text-color no-underline">IA-Technology</a>
    </h1>
  </ng-template>

  <ng-template pTemplate="right">
    <div class="flex gap-2 align-items-center">
      <ng-container *ngIf="isLoggedIn">
        <span class="text-sm">{{ username }} ({{ userRole }})</span>
        <p-button
          *ngIf="userRole === 'ADMIN'"
          icon="pi pi-cog"
          [rounded]="true"
          [text]="true"
          routerLink="/admin"
          pTooltip="Admin"
          tooltipPosition="bottom"
        ></p-button>
        <p-button
          *ngIf="userRole === 'MODERATEUR'"
          icon="pi pi-pencil"
          [rounded]="true"
          [text]="true"
          routerLink="/moderator"
          pTooltip="Modérateur"
          tooltipPosition="bottom"
        ></p-button>
        <p-button
          icon="pi pi-user"
          [rounded]="true"
          [text]="true"
          routerLink="/user"
          pTooltip="Profil"
          tooltipPosition="bottom"
        ></p-button>
        <p-button
          icon="pi pi-sign-out"
          [rounded]="true"
          [text]="true"
          (onClick)="logout()"
          pTooltip="Déconnexion"
          tooltipPosition="bottom"
        ></p-button>
      </ng-container>

      <ng-container *ngIf="!isLoggedIn">
        <p-button
          label="Connexion"
          routerLink="/auth/login"
          [text]="true"
        ></p-button>
        <p-button
          label="S'inscrire"
          routerLink="/auth/register"
          [outlined]="true"
        ></p-button>
      </ng-container>
    </div>
  </ng-template>
</p-toolbar>

<div class="container mx-auto px-4">
  <router-outlet></router-outlet>
</div>
